.a2{
    text-decoration: none !important;
    color:rgb(247, 247, 249);
    font-weight:bolder;
    font-size: 138%;
  }

#footer{
    height: 368px;
    width: auto;
    color:white;
    background-color: rgb(10, 25, 58);
}


@media screen and (max-width:700px) {

#footer h3{
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
}

#footer li{
  font-size: 10px;
  line-height: 15px;
}

}