* {
    margin: 0px;
    font-family: sans-serif;
}

.content{
    height: auto;
    width: auto;
    background-color: rgb(218, 217, 217);
}

.img2{
    width:100%;
    height:90vh;
    /* filter: blur(5px); */
}


.heading{
    margin-bottom: 12px;
    box-sizing: border-box;
    margin-top: 12px;
    font-size: 13px;
}

.heading:hover{
    transition: .5s ease;
    color:rgb(254, 3, 3) !important;
}

.grid1{
    width: 100%;
    height: 691px;
    top: -28px;
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    gap: 20px;
    justify-content: space-evenly;
}

.grid1::after{
    filter: blur(10px);
    position: absolute;
    content: "";
    background-color: rgb(214, 214, 214);
    inset: 0;
    z-index: -1;
}

.card1{
    height: 409px;
    width: 357px;
    /* border:3px solid rgb(14, 37, 86); */
    border-radius: 5px;
    text-align: center;
    /* box-shadow: 1px 5px 14px; */
    box-sizing: border-box;
    position:relative;
    bottom:200px;
    padding: 10px;
    background-color: white;
}

.card_child{
    height: 181px;
    width: 198px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    margin: -9px;
    padding: 1px;
}

.img1_1{
    border-radius: 10px;
    width: 160px;
    float: left;
    margin: 17px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  