* {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgb(14, 37, 86); /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 100px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.card2{
    height: 259px;
    width: 206px;
    /* border: 3px solid rgb(14, 37, 86); */
    border-radius: 10px;
    text-align: center;
    /* box-shadow: 10px 10px 24px; */
    box-sizing: border-box;
    float: left;
    /* margin: 29px; */
    padding: 17px;
    background-color: white;
}
h4{
    padding-bottom:8px;
    font-size:13px;
    text-align: left;
}
h3{
    font-size:13px;
    text-align: left;
}

.card13{
    height: 396px;
    width: 387px;
    border:3px solid rgb(14, 37, 86);
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 5px 14px;
    box-sizing: border-box;
    float: left;
    margin: 17px;
    padding: 10px;
}
.card_child{
    height: 171px;
    width: 185px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    margin: -9px;
    padding: 1px;
}

.img1{
    height: 150px;
    border-radius: 10px;
    /* width:100%; */
    padding-bottom :10px;
}

.img1_1{
    border-radius: 10px;
    width: 150px;
    float: left;
    margin: 17px;
}

.img1:hover {
    transition: .5s ease;
    opacity: 0.6;
}

.star_img{
    position:relative;
    bottom:-4px;
    height:20px;
    width:20px;
}

.wishimage{
    position: relative;
    bottom: -4px;
    height: 35px;
    width: 33px;
}

.button1{
    background-color: rgb(14, 37, 86);
    color: white;
    font-size: 17px;
    border-radius: 10px;
    height: 43px;
    width: 191px;
}

.green{
    color:green;
}

#menu{
    height:1555px;
    width:300px;
    top:88px;
    background-color: rgb(24 53 115);
    border-right: 2px solid gray;
    float: left;
}

.list1{
    list-style-type: none;
    line-height: 25px;
    font-size: 12px;
}

.options{
    text-decoration: none !important;
    color:rgb(251, 251, 253);
    font-size: 122%;
}

#contentarea{
    height: auto;
    width:959px;
    background-color: rgb(232 230 230);
    border-right: 2px solid gray;
    float: left;
}

#content{
    height:1555px;
    width: auto;
    background-color: rgb(232 230 230);
}

.grid2{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    /* gap: 31px; */
    justify-content: space-evenly;
    padding-top:20px;
    row-gap:25px;
}